/packages
/DisconnectedEntityFramework/obj
/DisconnectedEntityFramework/bin
/DisconnectedEntityFrameworkTest/bin
/DisconnectedEntityFrameworkTest/obj
/.vs
/DisconnectedEntityFramework7beta/obj
/DisconnectedEntityFramework7beta/bin
/DisconnectedEntityFramework7betaTest/obj
/DisconnectedEntityFramework7betaTest/bin
